#
# This software is contributed or developed by KYOCERA Corporation.
# (C) 2012 KYOCERA Corporation
# (C) 2013 KYOCERA Corporation
# (C) 2014 KYOCERA Corporation
# (C) 2015 KYOCERA Corporation
# (C) 2016 KYOCERA Corporation
#
#
# Copyright (c) 2010 Yamaha Corporation
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301,
# USA.
#

config SENSORS
	tristate "Sensor Support"
	default y

config SENSOR_COMMON
	tristate "Sensor Common"
	default y

config INPUT_SENSOR_ML630Q790
	tristate "ML610Q793 MICON"
	default y

config INPUT_SENSOR_MICON
	tristate "SENSOR MICON"
	default y

config SENSOR_MICON_LOGGING
	tristate "SENSOR MICON LOGGING"
	depends on INPUT_SENSOR_MICON
	default n

config INPUT_SENSOR_ACCELEROMETER
	tristate "ACCELEROMETER SENSOR"
	default y

config USE_SENSOR_LSM6DS3
	bool "USE SENSOR LSM6DS3"
	default n
	help
		This Model uses LSM6DS3.


config INPUT_YAS_ACCELEROMETER_POSITION
	int "YAS Acceleration Sensor Mounting Position on Board"
	depends on INPUT_SENSOR_ACCELEROMETER
	default "4"
	help
		Chip mounting position (pin 1).
			0: top, upper-left
			1: top, upper-right
			2: top, lower-right
			3: top, lower-left
			4: bottom, upper-left
			5: bottom, upper-right
			6: bottom, lower-right
			7: bottom, lower-left

config INPUT_ML610Q793_ACCELEROMETER_POSITION
	int "ML610Q793 Acceleration Sensor Mounting Position on Board"
	depends on INPUT_SENSOR_ACCELEROMETER
	default "3"
	help
		Chip mounting position (pin 1).
			0: top, upper-left
			1: top, upper-right
			2: top, lower-right
			3: top, lower-left
			4: bottom, upper-left
			5: bottom, upper-right
			6: bottom, lower-right
			7: bottom, lower-left

config INPUT_ML610Q793_INTERFACE
	int "ML610Q793 Interface"
	depends on INPUT_ML610Q793_ACCELEROMETER
	default "1"
	help
		0: I2C
		1: SPI

config INPUT_SENSOR_MAGNETOMETER
	tristate "Geomagnetic Sensor"
	depends on I2C
	default n


config INPUT_YAS_MAGNETOMETER_POSITION
	int "YAS Geomagnetic Sensor Mounting Position on Board"
	depends on INPUT_YAS_MAGNETOMETER
	default "7"
	help
		Chip mounting position (pin 1).
			0: top, upper-left
			1: top, upper-right
			2: top, lower-right
			3: top, lower-left
			4: bottom, upper-left
			5: bottom, upper-right
			6: bottom, lower-right
			7: bottom, lower-left

config INPUT_SENSOR_GYROSCOPE
	tristate "YAS Gyroscope Sensor"
	default n

config INPUT_YAS_GYROSCOPE_POSITION
	int "YAS Gyroscope Sensor Mounting Position on Board"
	depends on INPUT_YAS_GYROSCOPE
	default "4"
	help
		Chip mounting position (pin 1).
		0: top, upper-left
		1: top, upper-right
		2: top, lower-right
		3: top, lower-left
		4: bottom, upper-left
		5: bottom, upper-right
		6: bottom, lower-right
		7: bottom, lower-left

config INPUT_YAS_GYROSCOPE_INTERRUPT
	bool "Gyroscope Interrupt support"
	default n
	depends on INPUT_YAS_GYROSCOPE

config INPUT_YAS_GYROSCOPE_INTERFACE
	int "Gyroscope Digital Interface"
	depends on INPUT_YAS_GYROSCOPE
	default "0"
	help
		0: I2C
		1: SPI

config INPUT_SENSOR_ORIENTATION
	tristate "YAS Orientation Sensor"
	depends on I2C
	default n

config INPUT_SENSOR_PRESSURE
	tristate "YAS Pressure Sensor"
	default n

config INPUT_SENSOR_TEMPERATURE
	tristate "YAS Temperature Sensor"
	default n

config INPUT_SENSOR_RELATIVE_HUMIDITY
	tristate "YAS Relative Humidity Sensor"
	default n

config INPUT_SENSOR_AMBIENT_TEMPERATURE
	tristate "YAS Ambient Temperature Sensor"
	default n

config INPUT_SENSOR_GRAVITY
	tristate "YAS Gravity Sensor"
	default n

config INPUT_SENSOR_LINEAR_ACCELERATION
	tristate "YAS Linear Acceleration Sensor"
	default n

config INPUT_SENSOR_ROTATION_VECTOR
	tristate "YAS Rotation Vector Sensor"
	default n

config INPUT_SENSOR_GAME_ROTATION_VECTOR
	tristate "GAME ROTATION VECTOR"
	default n

config INPUT_SENSOR_MAG_ROTATION_VECTOR
	tristate "MAG ROTATION VECTOR"
	default n

config INPUT_SENSOR_SIGNIFICANT_MOTION
	tristate "SIGNIFICANT MOTION"
	default n

config INPUT_SENSOR_STEP_COUNTER
	tristate "STEP COUNTER"
	default n

config INPUT_SENSOR_STEP_DETECTOR
	tristate "STEP DETECTOR"
	default n

config INPUT_SENSOR_UNCAL_MAGNETOMETER
	tristate "UNCAL MAGNETOMETER"
	default n

config INPUT_SENSOR_UNCAL_GYROSCOPE
	tristate "UNCAL GYROSCOPE"
	default n

config INPUT_SENSOR_EXT
	tristate "SENSOR EXT"
	default y

config INPUT_SENSOR_GP2AP030
	tristate "GP2AP030 Proximity/Light Sensor Driver"
	default n
	help
		Support GP2AP030 Proximity/Light Sensor Driver.

config INPUT_SENSOR_LIGHT
	tristate "LIGHT SENSOR"
	default n

config INPUT_SENSOR_PROXIMITY
	tristate "PROXIMITY SENSOR"
	default n

config INPUT_SENSOR_EXT_VH
	tristate "Extension VH SENSOR"
	default y

config INPUT_KC_MOTION_SENSOR
	tristate "KC MOTION SENSOR"
	default n

config INPUT_SENSOR_UNDERWATER_DETECT
	tristate "Underwater Detect"
	default n

config SENSOR_POWER
	tristate "Sensor Power Driver"
	default y
	help
		Support Sensor Power Driver.

config KC_CORRECT_LUXVALUE
	tristate "Correct Lux Value"
	default n
	help
		Support Light Driver's Correct Sequence

config SENSORS_SSC
	bool "Enable Sensors Driver Support for SSC"
	default n
	help
	  Add support for sensors SSC driver.
	  This driver is used for exercising sensors use case,
	  time syncing with ADSP clock.

config USE_VSENSORVDD
	bool "USE VSENSOR VDD"
	default n
	help
		Support Sensor's Power VSENSOR VDD

config USE_GPIOMUX
	bool "USE GPIOMUX"
	default n
	help
		Support GPIOMUX Function
		
